<%-include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/forms.css">
</head>


<%-include('../includes/navigation.ejs')%>

<main>
  <form class="product-form" action="/<% if (editing){%>edit-thread<%}else{ %>add-thread<% }%>" method="POST">
    <div class="form-control">
      <label for="title">Content</label>
      <textarea id="w3review" name="content" rows="4" cols="50"></textarea>
      <!-- <input type="text" name="name" id="content" value="<% if (editing) { %> <%=student.name%> <% } %>"> -->
    </div>
    <div class="form-control">
      <label for="cars">Choose User:</label>
      
      <select name="studentId" id="cars">
        <%if (students.length > 0){%>
          <% for(let student of students){%>
            <option value="<%=student.id%>"><%=student.name%></option>
          <%}%>
        <%}%>
        
        <!-- <option value="saab">Saab</option> -->
        
      </select>

        <% if(editing) {%>

        <!--<input type=" hidden" value="<%= student.id %>" name="studentId"> -->
      <input type="hidden" value="<%= student.id %>" name="studentId">
      <% } %>
      <br><br>
      <button class="btn" type="submit"><% if(editing) { %> Update student<% } else{ %>Add student
        <% } %></button>
    </div>
  </form>
</main>
<%-include('../includes/end.ejs')%>