<%-include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/product.css ">

</head>

<body>
    <%-include('../includes/navigation.ejs')%>

    <main>
        <% if (students.length > 0) { %>
        <div class="grid">
            <% for (let student of students){ %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">Nama: <%= student.name %></h1>
                </header>
                <div class="card__content">
                    <h2 class="product__price">Alamat: <%= student.address %></h2>
                </div>
            </article>
            <% } %>
        </div>
        <% }  else {%>
        <h1>No Product Found !</h1>
        <% } %>
    </main>
    <%-include('../includes/end.ejs')%>